[submodule "tech"]
	path = tech
	url = git@github.com:isysd/tech.git
[submodule "life"]
	path = life
	url = git@github.com:isysd/life.git
[submodule "media"]
	path = media
	url = https://github.com/isysd/media.git
